/* Custom checkbox */
.custom_checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    padding-top: 5px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }
    input:checked ~ .checkmark {
        background-color: #014E2E;
    }
    input:checked ~ .checkmark:after {
    display: block;
    }
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #eee;
    }
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }
    .checkmark:after {
        left: 9px;
        top: 5px;
        width: 5px;
        height: 15px;
        border: solid white;
        border-width: 0 2px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
  }
  .custom_checkbox_bold{
    border-bottom: 2px solid #014E2E;
    padding-bottom: 10px;
    width: fit-content;
    color: #014E2E;
    font-size: 22px;
    font-weight: 800;
    padding-top: 0!important;
  }
  .checkbox_border{
    .custom_checkbox{
      border: 1px solid #014E2E;
      color: #014E2E;
      font-size: 16px;
      font-weight: 600;
      line-height: 100%;
      border-radius: 15px;
      padding: 10px 25px 10px 65px;
      .checkmark{
        left: 25px;
        top:5px;
      }
    }
  }
  .custom_checkbox:hover input ~ .checkmark {
    background-color: #ccc;
  }

  .relative{
    position: relative;
  }

  .background_dark{
    background-color: #143616!important;
  }
  .background_light{
    background-color: #6f7e0d!important;
  }
  .text_dark{
    color: #143616!important;
  }
  .text_light{
    color: #6f7e0d!important;
  }
  .margin_1{
    margin:1rem;
  }
  .width_30{
    width: 30%!important;
  }
  .number_input{
    padding: 5px 15px;
    border: 2px solid #6f7e0d;
    border-radius: 5px;
  }
  .title_big{
    font-size: 28px;
    color: #014E2E;
    font-weight: 600;
    margin: 25px 0;
  }
  .page_content{
    padding-top: 146px;
  }
  .text_color{
    color: #014E2E;
  }