@import 'tailwindcss/base';

@import 'tailwindcss/components';
@import 'buttons';
@import 'form';

@import 'tailwindcss/utilities';
@layer utilities {
    .text_color {
        font-size: 18px;
        font-weight: 600;
        color: #014E2E; /* твой цвет */
    }
}
@font-face {
    font-family: 'Avenir Next';
    src: url('/resources/fonts/AvenirNext-Regular.woff2') format('woff2'),
         url('/resources/fonts/AvenirNext-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  body {
    font-family: 'Avenir Next', sans-serif;
  }